<a href="https://colab.research.google.com/github/SWeat-python-weekend-study/JaeHyunLee/blob/main/Week2_HW_58_59_LEEJAEHYUN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**0. Colab**

# **마크다운 실습**

## 글자 크기 조정하기

# ONE
## TWO
### THREE
#### FOUR
##### FIVE
###### SIX

## 목록 만들기
1.   하나
2.   둘

* 검정 동그라미
  * 하얀 동그라미
    * 검정 네모

## 강조하기

*single asterisks*

_single underscores_

**double asterisks**

__double underscores__

~~cancelline~~

## 링크
[Google](http://www.google.co.kr“구글”)

In [214]:
!pwd

/content/sample_data

In [215]:
!ls

행정구역_시군구_시계열_인구변화
행정구역_시군구_별__성별_인구수_2011_2020
일별평균대기오염도_2018.csv
anscombe.json
california_housing_test.csv
california_housing_train.csv
covid19_patient
fiction_kor-1.txt
LGU_190530_200729
mnist_test.csv
mnist_train_small.csv
msg_code
README.md
seoul-district.svg
seoul_people_report
south-korea.svg
student
student_exam_result
titanic.csv
trns_1day_series
trns_time_series.txt
twitter.png
visa-innovations-for-a-cashless-world-2017-report.pdf

**1. iterator**
- iterable: 반복 가능한 객체  
ex) 문자열, 리스트, 딕셔너리, 집합  
 요소가 여러개 들어있고, 한 번에 하나씩 꺼낼 수 있는 객체  
  
- \_\_iter__ 메서드가 해당 객체에 있는지 확인

In [216]:
dir([1,2,3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [217]:
[1, 2, 3].__iter__()



---

In [218]:
it = [1, 2, 3].__iter__() #리스트의 이터레이터를 it 변수에 저장 후 __next__ 메서드 호출

In [219]:
it.__next__()

1

In [220]:
it.__next__()

2

In [221]:
it.__next__()

3

In [222]:
#it.__next__() #더 이상 꺼낼 요소가 없으므로 StopIteration Exception 발생



---

In [223]:
'Hello, world!'.__iter__()

In [224]:
{'a': 1, 'b': 2}.__iter__()

In [225]:
{1, 2, 3}.__iter__()



---

In [226]:
it = range(3).__iter__()

In [227]:
it.__next__()

0

In [228]:
it.__next__()

1

In [229]:
it.__next__()

2

In [230]:
#it.__next__()

**2. Generator**

- generator: iterator를 생성해주는 함수  
generator는 함수 안에서 yield라는 키워드만 사용하면 됨
- iterator보다 간단

In [231]:
def number_generator():
    yield 0
    yield 1
    yield 2
 
for i in number_generator():
    print(i)

0
1
2

In [232]:
def g ():
  print('one')
  yield 1 #첫번째 next 호출 시 여기까지 처리
  print('two')
  yield 2 #두번째 next 호출 시 여기까지 처리
  print('three')
  yield 3 #세번째 next 호출 시 여기까지 처리

_ = g()
next(_)
next(_)
next(_)

one
two
three

3

In [233]:
x = g()
next(x)

one

1

In [234]:
next(x)

two

2

In [235]:
next(x)

three

3

In [236]:
#반복문 처리 시 활용
def g():
  A = [1,2,3,4,5]
  for _ in A:
    yield _

for _ in g():
  print( _ * 2)

2
4
6
8
10



---

In [237]:
g = number_generator()
g

In [238]:
g.__next__()

0

In [239]:
g.__next__()

1

In [240]:
g.__next__()

2

In [241]:
#g.__next__()

- yield를 사용하면 값을 함수 바깥으로 전달하면서 코드 실행을 함수 바깥에 양보

**3. 한 줄 조건문**

In [242]:
def confirm(x):
  return '1입니다' if x==1 else\
          '5입니다' if x==5 else\
          '1도 5도 아닙니다'

# def confirm(x):
#   if x == 1:
#     return 1입니다
#   elif x == 5:
#     return 5
#   else:
#     return 1도 5도 아니다

In [243]:
confirm(1)

'1입니다'

In [244]:
confirm(3)

'1도 5도 아닙니다'

In [245]:
confirm(5)

'5입니다'

**4. 리스트**

- 리스트 기본  
[ ] 대괄호 안에 쉽표, 구분자로 분리

In [246]:
A = [1,2,3,4,5]

- 리스트는 추가하고 삭제 가능

In [247]:
A.append(6)
A

[1, 2, 3, 4, 5, 6]

In [248]:
del(A[0])
A

[2, 3, 4, 5, 6]

- 리스트 슬라이싱

In [249]:
A = [1,2,3,4,5]
A[:2]

[1, 2]

**5. 리스트 표현식**

In [250]:
A = list(range(10)) # [0,1,2,3,4,5,6,7,8,9] 할당

In [251]:
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [252]:
#파이썬에서 _ 문자를 변수명으로 사용 가능함 . 쓰고 버리는 의미 없는 임시변수 표현

In [253]:
B = [_ for _ in A]
# B = [x for x in A]
B
# for _ in A:
#   B.append(_)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [254]:
X = [0 for i in range(5)]
X

[0, 0, 0, 0, 0]

In [255]:
x = ['3', '5', '2']
Y = [int(i) for i in x]
Y

[3, 5, 2]

In [256]:
C =[x for x in A if x > 5 ] # [6,7,8,9] 할당 = 5 보다 큰 값 할당 필터링 역할
C

[6, 7, 8, 9]



---

In [257]:
D = [x for x in A if x > 5 and x % 2 == 0 ]
D

[6, 8]

**6. 함수**

In [258]:
# F(n) = F(n-1) + F(n-2) 단, n > 2일 경우

def F(n):
  if n <= 2:
    return 1
  else:
    return F(n-1) + F(n-2) # 재귀(recursive)

In [259]:
R = [F(n) for n in range(1, 10)]
print(R) #F(1)에서 F(9)까지 구하기

[1, 1, 2, 3, 5, 8, 13, 21, 34]

**7. 람다(lambda) 함수**
- 익명함수(Anonymous Function)
- 함수 정의를 한 줄로 생략하는 방식

In [260]:
A =lambda x : x*2
A(5) #10 값

def lamb(x):
  return x*2

In [261]:
F = lambda n : F(n-1) + F(n-2) if n > 2 else 1
R = [F(n) for n in range(1,10)]
print(R) #[1, 1, 2, 3, 5, 8, 13, 21, 34]

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [262]:
A = lambda x : x * 2
B = lambda x : x * 3
C = lambda x : x * 4
D = lambda x : x * 5

L = [A,B,C,D]

for f in L:
  print(f(2))

4
6
8
10

In [263]:
F = lambda n : [f(n) for f in L]
F(2)

[4, 6, 8, 10]

- <스스로>48페이지 예제 해보기

In [264]:
# 48페이지 예제 해보기

def process(string,code):
  func_dict = { 'U':lambda x:x.upper(),
               'L':lambda x:x.lower(),
               'C':lambda x:x.capitalize()}
  F = func_dict[code]
  return F(string)

In [265]:
def process(string,code):
  return { 'U':lambda x:x.upper(),
          'L':lambda x:x.lower(),
          'C':lambda x:x.capitalize()
         } [code](string)

In [266]:
process('hello', 'U')

'HELLO'

In [267]:
process('Hello','L')

'hello'

In [268]:
process('hello','C')

'Hello'

**8. \***args 와 \****kwargs 이용한 람다**
- *args 표현식  
: 함수의 매개변수 * 문자는 임의의 복수의 매개변수가 오는 것으로 정의
- ***kwargs 표현식  
: 함수의 매개변수에 ** 문자는 임의의 key=value 형태의 복수의 매개변수가 오는 것으로 정의

In [269]:
F = lambda * x : ''.join(x) # 문자열을 붙여주는 함수
F('파이썬', '코딩', '쉽네') # '파이썬코딩쉽네'

'파이썬코딩쉽네'

In [270]:
F = lambda **x : [(v,k) for k, v in x.items()] #key, value를 서로 바꿔서 dictionary 생성
D = F(A='파이썬', B='코딩', C='쉽네') #dict 생성 (A, '파이썬') -> ('파이썬', A)
print(D)

D = dict(D)
print(D['파이썬'])

[('파이썬', 'A'), ('코딩', 'B'), ('쉽네', 'C')]
A



---

In [271]:
F = lambda **x : sum(x['data']) if 'type' in x and x['type'] == 'sum' else 0

In [272]:
F(type='sum', data=[1,2,3,4])

10

In [273]:
F(data=[1,2,3,4,5])

0

In [274]:
F(type='mul', data=[1,2,3,4,5])

0

**9. 파일 입출력**

- student 파일 읽기 예제

In [275]:
pwd

'/content/sample_data'

In [276]:
ls

행정구역_시군구_시계열_인구변화
행정구역_시군구_별__성별_인구수_2011_2020
일별평균대기오염도_2018.csv
anscombe.json*
california_housing_test.csv
california_housing_train.csv
covid19_patient
fiction_kor-1.txt
LGU_190530_200729
mnist_test.csv
mnist_train_small.csv
msg_code
README.md*
seoul-district.svg
seoul_people_report
south-korea.svg
student
student_exam_result
titanic.csv
trns_1day_series
trns_time_series.txt
twitter.png
visa-innovations-for-a-cashless-world-2017-report.pdf

In [279]:
cd sample_data/

[Errno 2] No such file or directory: 'sample_data'
/content/sample_data

In [280]:
with open('student.txt', 'r', encoding='euc-kr') as fr:
  print(fr.readline())

FileNotFoundError: ignored

- 이름(첫 번째)를 제외한 **숫자 문자열**들만 추출

In [ ]:
F = lambda x : x.split(';')[1:]
F('태서연;54;72;60;78')

In [ ]:
F = lambda x : x.split(';')
F('태서연;54;72;60;78')

- 입력 문자열을 숫자로만 추출하기(list comprehension)

In [ ]:
F = lambda x : [int(i) for i in x.split(';')[1:]]
F('태서연;54;72;60;78')

- 입력 문자열을 합계

In [ ]:
F = lambda x : sum([int(i) for i in x.split(';')[1:]])
F('태서연;54;72;60;78')

- 이름, 과목별 점수 합계 리턴

In [ ]:
F = lambda x : (x.split(';')[0], sum([int(i) for i in x.split(';')[1:]]))
name, total = F('태서연;54;72;60;78')
print(name, total)

- 입력 문자열을 미리 split 하여서 리스트로 넘긴다고 가정

In [ ]:
F = lambda L : [int(x) for x in L[1:]]
F('태서연;54;72;60;78'.split(';'))

- 이름, 점수 합계를 리턴하는 방법

In [ ]:
F = lambda L : (L[0], sum([int(x) for x in L[1:]]))

name, total = F('태서연;54;72;60;78'.split(';'))

print(name, total)

- 타입별(이름, 합계), (이름, 평균)을 나타내는 함수

In [ ]:
F = lambda L, T : (L[0], sum([int(x) for x in L[1:]])) if T=="sum" else\
                  (L[0], sum([int(x) for x in L[1:]])/len(L[1:])) if T=="avg" else\
                  (L[0], None)
name, value = F('태서연;54;72;60;78'.split(';'), "sum")
print(name, value)

In [ ]:
name, value = F('태서연;54;72;60;78'.split(';'), "avg")
print(name, value)

In [ ]:
name, value = F('태서연;54;72;60;78'.split(';'), "mul")
print(name, value)


2월 14일
---

- 파일을 읽어서 이름;합계;평균을 내는 student_result 파일로 저장

In [ ]:
with open('student.txt', 'r', encoding='euc-kr') as fr, open('student_result.txt', 'w') as fw:
  for line in fr:
    name, total_sum = F(line.split(';'), 'sum')
    name, total_avg = F(line.split(';'), 'avg')

    #문자열 앞에 f를 붙이면 문자열 내부에 {}를 이용하여 변수를 바인딩 할 수 있음.  f-string
    result = f"{name};{total_sum};{total_avg}\n"
    fw.write(result)

- student_result 파일에 저장된 내용 확인

In [ ]:
with open('student_result.txt') as fr:
  print(fr.readline())
  print(fr.readline())
  print(fr.readline())

**10. 데이터를 json파일/텍스트로 변환**

In [ ]:
import json
person_dict = {}

with open('student.txt', 'r', encoding='euc-kr') as fr:
  for line in fr:
    data = line.strip().split(';') #불필요 공백 제거 후 문자로 문자열 분리
    name = data[0]

    # kor, eng, mat, sci = int(data[1]), int(data[2]), int(data[3]), int(data[4])
    kor, eng, mat, sci = (int(x) for x in data[1:])
    person_dict[name] = {'국어':kor, '영어':eng, '수학':mat, '과학':sci}

with open('student_json', 'w') as fw:
  json.dump(person_dict, fw, ensure_ascii=False, indent=4) #딕셔너리를 JSON으로 변환하여 파일로 저장

json_data = json.dumps(person_dict)
print(json_data)

**11. 파이썬 오브젝트를 json 텍스트로 변환**

In [ ]:
import json
person_dict = {}

with open('student.txt','r',encoding='euc-kr') as fr:
  for line in fr:
    data = line.strip().split(';') #불필요 공백 제거 후 문자로 문자열 분리
    name = data[0] #이름

    # kor, eng, mat, sci = int(data[1]), int(data[2]), int(data[3]), int(data[4])
    kor, eng, mat, sci = (int(x) for x in data[1:])
    person_dict[name] = {'국어':kor, '영어':eng, '수학':mat, '과학':sci}

json_data = json.dumps(person_dict, ensure_ascii=False, indent=4) #한글 보존, indent 추가
print(json_data)

**12. json 텍스트를 파이썬 오브젝트로 변환**
 - ''.join( list ) : 리스트에서 문자열으로

In [ ]:
with open('student_json', 'r', encoding="UTF-8-sig") as fr:
  json_data = json.load(fr) #파일에 저장된 JSON 텍스트를 파이썬 오브젝트로 변환
print(json_data['태서연'])

with open('student_json', 'r', encoding="UTF-8-sig") as fr:
  json_text = ''.join(fr.readlines())

json_data = json.loads(json_text) #JSON 형태의 텍스트를 파이썬 오브젝트로 변환
print(json_data["태서연"])

**13. pickle 데이터 직렬화 저장 로딩**

텍스트 상태의 데이터가 아닌 파이썬 객체 자체를 파일로 저장하는 것 입니다.





**그러면 무엇이 좋나요?**



만약 우리가 10GB 짜리 raw text 파일을 파싱하여 필요한 부분을 빼내서 사용한다고 해봅시다



raw text 에 있는 내용을 프로그램을 돌릴 때 마다 파싱하여 필요한 부분을 뺀다면 비효율 적이겠죠?



그래서 미리 필요한 부분을 딕셔너리 던, 리스트 던, 튜플 이던 저장을 해놓는 것 입니다..



근데 문자열이 아닌 객체를 파일에 쓸 수 없기에,



pickle 모듈을 활용해 그 객체 자체를 바이너리로 저장하는 것 입니다 !! ㅎㅎ





그럼 pickle 모듈로 저장된 파일을 그냥 불러오기만 하면 되기에 속도도 훨씬 빠르겠지요



출처: https://korbillgates.tistory.com/173 [생물정보학자의 블로그]

In [ ]:
import json
import pickle

with open ('student_json', 'r', encoding='UTF-8-sig') as fr:
  json_data = json.load(fr)

with open ('student_pickle', 'wb') as fw:
  pickle.dump(json_data, fw)

with open ('student_pickle', 'rb') as fr:
  pickle_data = pickle.load(fr)

print(pickle_data['태서연'])

**<스스로>14. 서울시 인구 통계 분석(실습)**
- seoul_people_report (CSV) 파일을 기반으로 구명을 key 값을 가지는 딕셔너리로 변경

- 구별 '외국인 비율', '6 세이상고령자 비율' 을 계산 후 각각 key( 외국인비율 , 고령자비율에 저장

In [284]:
import json

with open('seoul_people_report', 'r' , encoding='UTF-8-sig') as fr:
  raw_list = [ _.strip() for _ in fr.readlines() ] #라인별로 분할
  raw_split = [_.split(',') for _ in raw_list ] #각 라인을 , 로 분할

dict = {}
count = 0

for data in raw_split[1:]:

  dict[data[0]] = {}
  dict[data[0]] = {}

  dict[data[0]]['외국인비율'] = int(data[4]) / int(data[1])
  dict[data[0]]['고령자비율'] = int(data[5]) / int(data[1])

for k, v in dict.items():
  print(k, v)

with open('seoul_people_json', 'w') as fw:
  json.dump(dict, fw, ensure_ascii = False, indent=4)

합계 {'외국인비율': 0.02797404896312392, '고령자비율': 0.15161495942441722}
종로구 {'외국인비율': 0.06646952785460293, '고령자비율': 0.17330724022125643}
중구 {'외국인비율': 0.07543105027515407, '고령자비율': 0.17435461533388535}
용산구 {'외국인비율': 0.06737757195377085, '고령자비율': 0.1602136778177239}
성동구 {'외국인비율': 0.026533807736504413, '고령자비율': 0.14560227609353077}
광진구 {'외국인비율': 0.04255034290554387, '고령자비율': 0.13385338397223967}
동대문구 {'외국인비율': 0.04585810641329904, '고령자비율': 0.16639516197942078}
중랑구 {'외국인비율': 0.012626098762597397, '고령자비율': 0.1666275662751636}
성북구 {'외국인비율': 0.026484383937764557, '고령자비율': 0.1587830999797594}
강북구 {'외국인비율': 0.011886345698500394, '고령자비율': 0.19466456195737963}
도봉구 {'외국인비율': 0.006767717656936386, '고령자비율': 0.17998170887119747}
노원구 {'외국인비율': 0.008325007703153158, '고령자비율': 0.15440293560163962}
은평구 {'외국인비율': 0.009305525907288776, '고령자비율': 0.17045277911914597}
서대문구 {'외국인비율': 0.04060759493670886, '고령자비율': 0.16275565784426543}
마포구 {'외국인비율': 0.029827551374564217, '고령자비율': 0.13800811218225992}
양천구 {'외국인비율': 0.009104687622141349, '고령자비율': 0.13627934649492326}
강서구 {'외국인비율': 0.010745287500650492, '고령자비율': 0.14435381389719373}
구로구 {'외국인비율': 0.07408260857661736, '고령자비율': 0.15384615384615385}
금천구 {'외국인비율': 0.07473843338504993, '고령자비율': 0.15319250507220433}
영등포구 {'외국인비율': 0.08119011972349456, '고령자비율': 0.1466847511895762}
동작구 {'외국인비율': 0.03135835528025856, '고령자비율': 0.155413656627481}
관악구 {'외국인비율': 0.033460947389202224, '고령자비율': 0.14838327571990972}
서초구 {'외국인비율': 0.009735488188849612, '고령자비율': 0.13415792511976743}
강남구 {'외국인비율': 0.00926353614670357, '고령자비율': 0.132028121578911}
송파구 {'외국인비율': 0.009969407372485434, '고령자비율': 0.13150423787934198}
강동구 {'외국인비율': 0.009618372053334268, '고령자비율': 0.14528424083563435}